body
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    text-transform: capitalize;
}
.orange-color
{
    color:orange ;
}
.header-area
{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.flexible-container
{
    display: flex;
    margin-bottom: 140px;
}
.half-width
{
    width: 50%;
    padding-left: 5%;
}
.half-width img
{
    width: 80%;
}
.link-button
{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    background-image:linear-gradient(orange,tomato);
    border: 1px solid tomato;
    padding: 10px 25px;
    border-radius: 5px;
}
/*midddle area*/
.middle-area
{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.middle-area .middle-text
{
margin-right: 130px;
}
.middle-area .middle-img
{
    margin-left: 130px;
}
.middle-area .middle-text h2
{
    font-size: 40px;
    
}
.middle-area .middle-text p{
color: #888a8b;
}
.experience-area
{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left 90%;
    z-index: -1;
}
.experience-area h3
{
    color: orange;
} 
.experience-item
{
    width: 40%;
    margin: 0 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    padding-bottom: 70px;
    z-index: 9999;
}
.experience-item p
{
    color: #888a8b;
}   
.experience-item h2
{
    font-size: 35px;
}
#full-stack-experience
{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
#baby
{
   border-left: 7px solid;
   border-image: linear-gradient(blue,cyan);
   border-image-slice: 1;
}
.footer-text
{
    text-align: center;
    font-size: 12px;
    color: #888a8b;
}